@use 'sass:math';
@use './scss/colors' as *;
@use './scss/gutter' as *;
@use './scss/grid' as *;
@use './scss/navbar'  as *;
@use './scss/header' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: $gutter;
    margin-right: $gutter;    
}

.back {
    background-color: red;
}


