@use 'sass:math';
@use './scss/colors' as *;
@use './scss/gutter' as *;
@use './scss/grid' as *;
@use './scss/navbar'  as *;
@use './scss/header' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: $gutter;
    margin-right: $gutter;    
}


.nav {
    border-bottom: 1px solid black;
    margin-left: $gutter;
    margin-right: $gutter;
    margin-top: 1rem;
    flex-basis: 100%;
    height: 2rem;
    &__wrapper {
       display: flex;
       justify-content: space-between;
        
    }   
    &__ul {
       display: flex;
       justify-content: space-between;
       text-decoration: none;
    }
   
    
}

ul {
    display: flex;
    
}