@use 'sass:math';
@use './scss/colors' as *;
@use './scss/gutter' as *;
@use './scss/grid' as *;
@use './scss/navbar'  as *;
@use './scss/header' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: $gutter;
    margin-right: $gutter;    
}


.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: $gutter;
    margin-right: $gutter;
}


@each $key, $value in $grid {
    @if $key == xlg {
        @media (mix-width: $value){
            @for $i from 1 through 12 {
                .col-#{key}-#{$i}{
                    flex-basis:math.div(100%,12)*$i;
                    max-width: math.div(100%,12)*$i;
                }
            }
        }
    }
    @else if $key == lg {
        @media (max-width: $value) {
            @for $i from 1 through 12 {
                .col-#{$key}-#{$i}{
                    flex-basis:math.div(100%,12)*$i;
                    max-width: math.div(100%,12)*$i;
                }
            }
        }
    }
    @else if $key == md {
        @media (max-width: $value) {
            @for $i from 1 through 12 {
                .col-#{$key}-#{$i} {
                    flex-basis: math.div(100%,12)*$i;
                    max-width: math.div(100%,12)*$i;
                }
            } 
        }
    }
    @else if $key == sm {
        @media (max-widht: $value) {
            @for $i from 1 through 12 {
                .col-#{$key}-#{$i} {
                    flex-basis: math.div(100%,12)*$i;
                    max-width: math.div(100%,12)*$i;
                }
            }
        }
    }
}


